# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Match-3-Temp.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
